@import "tailwindcss";
root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::backdrop {
  backdrop-filter: blur(1px);
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: #0075FF; /* This is the standard "browser blue" */
}
.priority-bar {
  width: 90px;
  height: 20px;
  border-radius: 999px;
  border: solid 1px black;
  background-image: linear-gradient(
          to right,
          #10b981 0%,
          #10b981 33.3%,
          #ffc000 33.3%,
          #ffc000 66.6%,
          #ff0033 66.6%);
}
.triangle-pointer {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;  /* Left side slope */
  border-right: 5px solid transparent; /* Right side slope */
  border-bottom: 15px solid #282828;          /* The actual triangle color */
  transform: translate(-50%, -25%);
}